body {
    background-image: url(../images/soft_wallpaper_@2X.png);
    font-family: 'Architects Daughter', cursive;
}

.container-btns {
    border: 1px solid;
    margin: 25px 50px;
    padding: 5px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.container-gifs {
    margin: 25px 50px;
    border: 1px solid;
}

#displayGif {
    border: 1px solid red;
    padding: 5px;
}

#createBtn {
    border: 1px solid red;
    text-align: center;
    padding: 5px;
}

.inputText, .inputField, .submit {
    padding: 5px;
    font-size: 20px;
}

button {
    margin-top: 10px;
}

