body {
    /* background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%); */
    background-image: url(../images/white_wall.png);
    font-family: 'Architects Daughter', cursive;
}

header {
    /* border: 1px solid; */
    font-size: 30px;
    text-align: center;
    margin-top: 25px;
    color: #006f21;
}

.container-btns {
    /* border: 1px solid; */
    margin: 25px 50px;
    padding: 5px;
}

.animalBtn {
    background-color: #006f21;
    color: white;
    font-size: 18px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.container-gifs {
    margin: 25px 50px;
}

#displayGif {
    border: 3px double #006f21;
    padding: 5px;
}

#createBtn {
    /* border: 1px solid red; */
    text-align: center;
    padding: 5px;
}

label {
    color: #006f21;
    font-size: 18px;
}

input {
    border: 1px solid #006f21;
}

#submit {
    margin-top: 10px;
    background-color: #006f21;
    color: white;
}